
    <!DOCTYPE html>
    <html>
      <head>
        <!--[htmlclean-protect]-->
        <!-- inject:css -->
        <!-- endinject -->
        <!--[/htmlclean-protect]-->
        <%- include('../../../_partials/meta.html',{title:'Drawing Discrimination'}) %>
      </head>
      <body>
        <%- include('../../../_partials/header.html',{logo: '../../../assets/logo.png', work: ' active', about:''}) %>

        <div class="project-content" id="project-content-intro">
        
      
        <h1>Drawing Discrimination</h1>
      
    
      
        <p>This visualization explores redlining’s lasting impact on homeownership, home equity, and wealth building opportunities across New York City.</p>
      
    </div>
          <div class="project-image">
            <div class="video-wrapper"  style="padding:56.18% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/340449284?autoplay=1&loop=1&autopause=0&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        <div class="project-content">
              
                <p><a target="_blank" href="https://ryanabest.com/ms2-2019/thesis/" class="see-link">See the project →</a></p>
              
            
              
                <p>During the mid to late-1930's, the federal government commissioned maps of American cities that rated individual neighborhoods on the riskiness of a real estate investment in those communities. These maps would help determine who could get a mortgage and where properties were deemed valuable for decades to come. In a process that later became known as 'redlining', appraisers primarily used race to determine how valuable or risky housing was in a neighborhood – non-white or immigrant communities were officially treated as 'hazardous' influences to real estate value.</p>
              
                <p>For my thesis project as a student in the Data Visualization MS program at the Parsons School of Design, I explored how housing discrimination shaped who was able to build wealth in housing in the past century. To do this, I tracked changes in the racial composition and real estate markets of neighborhoods within New York City redlining maps in the decades after they were drawn. I then looked at individual neighborhood case studies of communities with similar racial compositions or homeownership markets in 1940, connected these communities to the redlining gradings they received at that time, and followed their changing and diverging housing markets through 2010. I also open up the map for exploration, allowing users to study the redlining map of New York in more detail or investigate potential threads of housing discrimination themselves.</p>
              
            </div><div class="project-content">
              
                <h1>Process</h1>
              
            <div class="swiper-container">
                     <div class="swiper-wrapper">
              
                <div class="swiper-slide"><img src="assets/process/process1.png"/><p class="process-text">My <a target='_blank' href='https://ryanabest.com/ms2-2019/wireframe/'>first wireframe mock-up</a> for this project expanded on my <a target='_blank' href='../NYCRedliningPoster/'>NYC Redlining Poster</a> project, introducing redlining through maps with individual neighborhoods represented as&nbsp;dots...</p></div>
              
            </div>
                     </div>
              
                <p><b>Data Source:</b> Redlining maps from <a target='_blank' href='https://dsl.richmond.edu/panorama/redlining/'>Mapping Inequality</a> project / Census data from <a target='_blank' href='https://www.nhgis.org/'>IPUMS NGHIS</a> / Building images from <a target='_blank' href='http://nycma.lunaimaging.com/luna/servlet'>NYC Municipal Archives</a> and <a target='_blank' href='https://developers.google.com/maps/documentation/streetview/intro'>Google Street View Static&nbsp;API</a></p>
              
            </div>
        <%- include('../../../_partials/footer.html') %>

        <!--[htmlclean-protect]-->
        <!-- inject:js -->
        <!-- endinject -->
        <!--[/htmlclean-protect]-->
    </body>
    </html>
    