<!DOCTYPE html>
<html>
  <head>
    <!--[htmlclean-protect]-->
    <!-- inject:css -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
    <%- include('../_partials/meta.html',{title:'ryan best'}) %>
  </head>
  <body>
    <%- include('../_partials/header.html',{logo: '../assets/logo.png', work: '', about:' active'}) %>

    <div class="about-content">
    <p>I'm Ryan Best, and I'm a <span class="bold">Data Visualization Specialist</span>.
       I'm excited about using technology and design to make data visual, beautiful, and intuitive – allowing our data to help us tell stories, understand complex information, and make informed decisions.
       I'm a self-taught coder in JS, HTML/CSS, Node, and Python (I particularly like using d3 and pandas).
       Currently <a target="_blank" href='https://twitter.com/parsonsdesign'>Parsons</a>, formerly <a target="_blank" href='https://twitter.com/BBGVisualData'>Bloomberg Graphics</a>.
    </p>
    <p>I live in Brooklyn and enjoy <a href='https://www.strava.com/athletes/21629547'>biking</a> and <a href='https://www.discogs.com/user/ryan.a.best/collection'>record collecting</a>. Say <a href="mailto:ryan@ryanabest.com">hi!</a></p>
    </div>

    <%- include('../_partials/footer.html') %>

    <!--[htmlclean-protect]-->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
</body>
</html>
